.page {
  min-height: 100vh;
}

.bracketContainer {
  display: flex;
  gap: 130px;
  padding: 100px;
  align-items: stretch;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
