@use "../../../app/styles/variables.scss" as *;

.playersList {
  margin: 35px 0;

  &__Header,
  .PlayersRow {
    display: flex;
    align-items: center;
    padding: 0 30px;
    background-color: $color-header-player-list;
    color: $color-text-main;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;

    h1 {
      margin: 0;

      &:nth-child(1) {
        width: 80px;
      }
      &:nth-child(2) {
        width: 250px;
      }
      &:nth-child(3) {
        flex: 1;
      }
    }
  }

  &__Content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
