@use "../../../app/styles/variables.scss" as *;

.TeamList {
  margin: 35px 0;

  &__Header,
  .TeamRow {
    display: flex;
    align-items: center;
    padding: 0 30px;
    background-color: $color-header-player-list;
    color: $color-text-main;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;

    h1 {
      margin: 0;

      &:nth-child(1) {
        width: 80px;
      }
      &:nth-child(2) {
        width: 250px;
      }
      &:nth-child(3) {
        flex: 1;
      }
    }
  }

  &__Content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__button {
    width: 70px;
    height: 30px;
    background-color: $color-green;
    color: $color-text-main;
    font-weight: 600;
    margin-left: auto;
  }
}

.full {
  color: #2ecc71;
  font-weight: bold;
}

.notFull {
  color: #f39c12;
}
