// Палитра основных цветов

$color-surface: #142642; // Цвет для основного поля информации
$color-surface-light: #1b2f50; // Цвет для headera
$color-green: #51a841; // Цвет для кнопки и украшения полей с наванием команд
$color-line: #d9d9d9; // Цвет для декоративных линий

$color-text-main: #fff;
