@use "../MatchCardBase/MatchCardBase.module.scss";

.cards {
  position: relative;
  z-index: 20;
}

.cards:not(.last)::after {
  content: "";
  position: absolute;
  left: -130px;
  top: calc(50% - var(--line-height) / 2);
  height: var(--line-height);
  width: 80px;
  border: 2px solid white;
  border-left: none;
  border-radius: 0 10px 10px 0;
  z-index: 15;
}

.cards * {
  z-index: auto;
}
