@use "../../../app/styles/variables.scss" as *;

.overlay {
  position: fixed; // Фиксируем относительно экрана, а не страницы
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); // Затемнение
  backdrop-filter: blur(8px); // Размытие всего, что под этим слоем
  display: flex;
  justify-content: center; // Центрируем форму по горизонтали
  align-items: center; // Центрируем форму по вертикали
  z-index: 1000;
}

.AddPlayerForm {
  position: absolute;
  left: 25%;
  width: 50%;
  border: 1px solid black;
  border-radius: 10px;
  height: 60%;
  background-color: #1e2946;

  &__Wrapper {
    display: flex;
    flex-direction: column;
  }

  &__Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  &__Title {
    color: $color-text-main;
  }

  &__Close {
    transition: transform 0.3s ease;
  }

  &__Close:hover {
    transform: scale(1.1);
  }

  &__Input {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
  }

  &__InputWrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }

  &__Label {
    padding: 10px 0;
    color: $color-text-main;
    font-weight: 700;
  }

  &__InputField {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0 20px;
  }

  &__ButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__Button {
    width: 250px;
    height: 40px;
    color: $color-text-main;
    background-color: $color-green;
    font-weight: 700;
  }
}
